{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Marzena - MOBILNE USŁUGI KOSMETYCZNE">
        <meta name="author" content="Karol Klimaszewski">

        <title>Marzena</title>

        <!-- My core -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <!-- Bootstrap core -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
        <link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">
        <script src=" {% static 'js/ie-emulation-modes-warning.js' %}"></script>
        <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Icons -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>

    <body>

        <div class="container">

            {% include "header.html" %}

            {% block content %}

            {% endblock content %}

            {% include "footer.html" %}

        </div>
        <!-- My core -->

        <!-- Bootstrap core -->
        <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    </body>
</html>