{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}

    <div class="jumbotron row marketing">
        <div class="news col-lg-6">
            <div class="main-col">
                <h3>{{ title }}</h3>
                <form method="post" action="">{% csrf_token %}
                    {{ form.as_p}}
                    <input class="btn-sm btn-success" type="submit" value="Wyślij"/>
                </form>
            </div>
        </div>

        <div class="news col-lg-6">
            <div class="main-col iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1158.1257295238706!2d18.539209658351734!3d54.51142655219168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTTCsDMwJzQxLjEiTiAxOMKwMzInMjUuMSJF!5e0!3m2!1spl!2spl!4v1455113862129" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="jumbotron row marketing">
        <div class="news col-lg-12">
            <div class="main-col">
                <h3>Kontakt</h3>
                <h4>Telefon: 603 765 468 <br>I Armii Wojska Polskiego 3, Gdynia<br>Poniedziałek - Piątek: 8:00 - 18:00<br>Sobota: 10:00 - 14:00<br>Zapraszam również na <span><a href="https://www.facebook.com/Marzena-mobilne-us%C5%82ugi-kosmetyczne-510405535762354/?fref=ts"><i class="fa fa-facebook-square fa-2x"></i></a></span></h4></h4>
            </div>
        </div>
    </div>


{% endblock content %}