{% load staticfiles %}

<div class="ramka">
    <div class="jumbotron jumbotron-main">
        <img id="logo" src="{% static "img/logo.png" %}">
        <nav class="navbar">
            <ul class="nav navbar-nav">
                <li class="page"><a href="{% url 'home' %}">Strona domowa</a></li>
                <li class="separator"><a>|</a></li>
                <li class="page"><a href="{% url 'offer' %}">Oferta</a></li>
                <li class="separator"><a>|</a></li>
                <li class="page"><a href="{% url 'promotions' %}">Promocje i nowości</a></li>
                <li class="separator"><a>|</a></li>
                <li class="page"><a href="{% url 'contact' %}">Kontakt</a></li>
            </ul>
        </nav>
    </div>
</div>
