{% extends 'base.html'%}
{% load staticfiles %}


{% block content %}

    <div class="jumbotron jumbotron-special">
        <div id="slider">
            <figure>
                <img src="{% static "img/1.png" %}" alt="">
                <img src="{% static "img/2.png" %}" alt="">
                <img src="{% static "img/3.png" %}" alt="">
                <img src="{% static "img/4.png" %}" alt="">
                <img src="{% static "img/5.png" %}" alt="">
            </figure>
            <div class="text-div">
                <h2>Mobilne usługi<br> kosmetyczne</h2>
                <p>Pielęgnacja i przyjemny relax<br> w domowym zaciszu.</p>
                <input class="btn-sm btn-success" onClick="location.href='{% url 'offer' %}'" type="submit" value="Więcej..." />
            </div>
        </div>
    </div>


    <div class="jumbotron row marketing">
        <div class="news col-lg-6">
            <div class="main-col">
                <h3>Subskrypcja</h3>
                <h4>{{ title }}</h4>
                <form method="post" action="" content='charset=UTF-8'>{% csrf_token %}
                    {{ form }}
                    <input class="btn-sm btn-success" type="submit" value="Wyslij"/>
                </form>
            </div>
        </div>
        <div class="news col-lg-6">
            <div class="main-col">
                <h3>Kontakt</h3>
                <h4>Telefon: 603 765 468<br>Poniedziałek - Piątek: 8:00 - 18:00<br>Sobota: 10:00 - 14:00<br>Zapraszam również na <span><a href="https://www.facebook.com/Marzena-mobilne-us%C5%82ugi-kosmetyczne-510405535762354/?fref=ts"><i class="fa fa-facebook-square fa-2x"></i></a></span></h4>
            </div>
        </div>
    </div>



{% endblock content %}