{% extends 'base.html'%}

{% block content %}

<div class="jumbotron row marketing">
    <div class="news col-lg-12">
        <div class="main-col">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-list">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#manicure" aria-expanded="true" aria-controls="collapseOne">
                            Manicure
                            </a>
                        </h4>
                    </div>
                    <div id="manicure" class="panel-collapse collapse">
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#manicureb">
                                    Manicure biologiczny
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        25zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="manicureb" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#manicuret">
                                    Manicure tradycyjny
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        30zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="manicuret" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#manicuref">
                                Manicure francuski
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        35zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="manicuref" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#manicures">
                                Manicure striplac allesandro<br>(lakier utrzymuje się ok 10 dni)
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        45z
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        40zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="manicures" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#manicureh">
                                Manicure hybrydowy
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        60zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        45zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="manicureh" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#manicurehf">
                                Manicure hybrydowy french
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        65zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        50zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="manicurehf" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#umanicureh">
                                Usunięcie manicure hybrydowego<br>(przy nałożeniu kolejnej hybrydy bezpłatnie)
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        15zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="umanicureh" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#pakryl">
                                Przedłużenie akryl
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        100zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        80zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="pakryl" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#dakryl">
                                Dopełnienie akryl
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        60zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        50zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="dakryl" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#manicurezp">
                                Zabieg pielęgnacyjny na dłonie<br>(maska + parafina + manicure)
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        55zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="manicurezp" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body panel-body-last">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-list">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#pedicure" aria-expanded="true" aria-controls="collapseOne">
                            Pedicure
                            </a>
                        </h4>
                    </div>
                    <div id="pedicure" class="panel-collapse collapse">
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#pedicuren">
                                Pedicure
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        65zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        55zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="pedicuren" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>

                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#pedicureh">
                                Pedicure hybrydowy
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        90zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        75zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="pedicureh" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegpnsmpp">
                                Zabieg pielęgnacyjny na stopy<br>(maska + pedicure + parafina)
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        100zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        90zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegpnsmpp" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body panel-body-last">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <div class="panel-body panel-body-last">
                            <p>Pedicure wykonuje frezarką oraz tarką w zależności od potrzeb i życzenia klientki.</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-list">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#henna" aria-expanded="true" aria-controls="collapseOne">
                            Henna
                            </a>
                        </h4>
                    </div>
                    <div id="henna" class="panel-collapse collapse">
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#hennab">
                                Henna brwi
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        10zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="hennab" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#hennar">
                                Henna rzęs
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        10zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="hennar" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#regulacjab">
                                Regulacja brwi
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        10zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="regulacjab" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#kompletbrr">
                                Komplet<br>(henna brwi i rzęs, regulacja)
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        25zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="kompletbrr" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body panel-body-last">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-list">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#depilacja" aria-expanded="true" aria-controls="collapseOne">
                            Depilacja
                            </a>
                        </h4>
                    </div>
                    <div id="depilacja" class="panel-collapse collapse">
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#depilacjaw">
                                Wąsik
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        10zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="depilacjaw" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#depilacjab">
                                Broda
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        10zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="depilacjab" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#depilacjat">
                                Twarz
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        25zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="depilacjat" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#depilacjap">
                                Pachy
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        20zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="depilacjap" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#depilacjar">
                                Ręce
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        30zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="depilacjar" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#depilacjau">
                                Uda
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        35-45zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        30-40zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="depilacjau" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#depilacjal">
                                Łydki
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        35zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        30zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="depilacjal" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#depilacjabi">
                                Bikini
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        25-35zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        20-30zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="depilacjabi" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#depilacjapl">
                                Plecy
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        50-60zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="depilacjapl" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body panel-body-last">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-list">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a id="znt" class="collapsed" role="button" data-toggle="collapse" href="#zabieginatwarz" aria-expanded="true" aria-controls="collapseOne">
                            Zabiegi na twarz
                            </a>
                        </h4>
                    </div>
                    <div id="zabieginatwarz" class="panel-collapse collapse">
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegwdcn">
                                Zabieg wzmacniający dla cery naczynkowej
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        90zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        80zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegwdcn" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegon">
                                Zabieg oczyszczająco-normalizujący
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        80zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        70zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegon" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegozrkm">
                                Zabieg odmładzający z roślinnymi komórkami macierzystymi
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        95zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        85zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegozrkm" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#dzabiegdcd">
                                Diamentowy zabieg do cery dojrzałej
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        100zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        90zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="dzabiegdcd" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegiltl">
                                Zabieg intensywnie liftingujący Topp Lifting
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        110zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        90zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegiltl" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegenbkwt">
                                Zabieg eksfoliacji na bazie kwasu migdałowego<br>(twarz)
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        90zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        60zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegenbkwt" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegenbkwtsd">
                                Zabieg eksfoliacji na bazie kwasu migdałowego<br>(twarz, szyja, dekold)
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        110zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        80zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegenbkwtsd" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegornooodaa">
                                Zabieg odmładzająco-rozświetlający na okolice oczu o działaniu anti-aging
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        45zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        35zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegornooodaa" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegmdsmk">
                                Mikrodermabranzja diamentowa<br>(serum, maska, krem)
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        90zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        70zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegmdsmk" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegmdtsd">
                                Mikrodermabrazja diamentowa<br>(twarz, szyja, dekold)
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        110zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        90zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegmdtsd" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegpkssmk">
                                Peeling kawitacyjny + sonoforeza<br>(serum, maska, krem)
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        75zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        60zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegpkssmk" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body panel-body-last">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-list">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#zabieginc" aria-expanded="true" aria-controls="collapseOne">
                            Zabiegi na ciało
                            </a>
                        </h4>
                    </div>
                    <div id="zabieginc" class="panel-collapse collapse">
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#zabiegaim">
                                Antycellulitowy i modelujący
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        150zł
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="zabiegaim" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body panel-body-last">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-list">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#opalanien" aria-expanded="true" aria-controls="collapseOne">
                            Opalanie natryskowe
                            </a>
                        </h4>
                    </div>
                    <div id="opalanien" class="panel-collapse collapse">
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#opalaniecc">
                                Całe ciało
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>
                                        100zł
                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>
                                        80zł
                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>

                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="opalaniecc" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body panel-body-last">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group panel-group-last" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-list">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#kosztyd" aria-expanded="true" aria-controls="collapseOne">
                            Koszty dojazdu
                            </a>
                        </h4>
                    </div>
                    <div id="kosztyd" class="panel-collapse collapse">
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#kosztyg">
                                Gdynia
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        bezpłatnie*
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="kosztyg" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            *Na terenie Gdyni gdy koszt usługi jest powyżej 90zł.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#koszts">
                                Sopot
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        bezpłatnie*
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="koszts" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                            *Na terenie Sopotu gdy koszt usługi jest powyżej 150zł.
                            </div>
                        </div>
                        <h4 class="panel-body">
                            <div class="panel-name">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#kosztgd">
                                Gdańsk
                                </a>
                            </div>
                            <div class="panel-price">
                                <div class="price-old">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-new">
                                    <a>

                                    </a>
                                </div>
                                <div class="price-normal">
                                    <a>
                                        bezpłatnie*
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="kosztgd" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                            <div class="panel-body panel-body-last">
                            *Na terenie Sopotu gdy koszt usługi jest powyżej 200zł.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron row marketing">
    <div class="news">
        <div class="main-col">
            <h3>Promocje i nowości</h3>
            <h4>20% taniej przy bierwszej wizycie!!!<br>Te i inne promocje sprawdz już dziś!!!</h4>
            <h4><input class="btn-sm btn-success" onClick="location.href='{% url 'promotions' %}'" type="submit" value="Więcej..." /></h4>
        </div>
    </div>
</div>

{% endblock content %}