{% extends 'base.html'%}

{% block content %}

<div class="jumbotron row marketing">
    <div class="news">
        <div class="main-col">
            <h3>Promocja</h3>
            <h4>Już teraz! Przy pierwszej wizycie 20% rabatu na wszystkie usługi!*</h4>
            <h4>Opalanie natryskowe rabat 20%!!!</h4>
            <h4>Zabiegi na twarz przecenione nawet o 30%!!!</h4>
            <h4>Pedicure już od 55zł!!!</h4>
            <h5>*Uwaga: Promocja pierwszej wizyty nie kumuluje się z innymi promocjami!!!</h5>
        </div>
    </div>
</div>

<div class="jumbotron row marketing">
    <div class="news">
        <div class="main-col">
            <h3>Oferta</h3>
            <h4>Zapoznaj się z moją najnowszą ofertą<br>
            <h4>Nie masz czasu umówić się na wizytę w gabinecie kosmetycznym?</h4>
            <h4>Może masz dzieci albo wyjście z domu sprawia Ci kłopot?</h4>
            <h4>Jeśli tak to moje usługi skierowane są również do Ciebie.</h4>
            <h4>Zadzwoń, umówimy się, przyjadę z moim mobilnym salonem kosmetycznym.</h4>
            <h4>Świadczę usługi kosmetyczne na terenie całego Trójmiasta.</h4>
            <h4><input class="btn-sm btn-success" onClick="location.href='{% url 'offer' %}'" type="submit" value="Więcej..." /></h4>
        </div>
    </div>
</div>

{% endblock content %}