@import url("../fonts/Lobster.css");

html {
  overflow-y: scroll;
}

body {
    background-image: url("http://fotozrzut.pl/zdjecia/c0658661f4.jpg") !important;
}

.jumbotron-special {
    padding: 5px 5px 5px 5px !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 15px !important;
}

#slider {
    border-radius: 10px !important;
}

.ramka {
    padding: 0 0 0 0 !important;
    margin: 0 0 30px 0;
    border: 5px solid rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}


.jumbotron-main {
    margin-bottom: 0px !important;
    border: 1px solid rgba(86, 86, 86, 1) !important;
    padding: 15px 20px 15px 20px !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 10px !important;

}

.marketing {
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    margin: 0 0 30px 0 !important;
    padding: 0 0 0 0 !important;
    border-radius: 15px !important;
    display: flex !important;
}

.news {
    width: 100% !important;
    padding: 5px 5px 5px 5px !important;
    display: flex;
}

.main-col {
    width: 100% !important;
    border-radius: 10px;
    border: 1px solid rgba(86, 86, 86, 1) !important;
    margin: 0 0 0 0 !important;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    padding-top: 0 !important;
    border-top: none !important;
}

.footer > p > a {
    color: black !important;
}

.footer > p > a:hover {
    text-decoration: none;
}

.navbar {
    margin-top: 15px;
    margin-bottom: 0px !important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;

}

.navbar .navbar-collapse {
    text-align: center;
}

.nav > li > a {
    font-size: 20px;
    color: black;
}

.page > a:hover {
    text-decoration: underline !important;
    color: gray !important;
    background-color: transparent !important;
}

.separator > a:hover {
    text-decoration: none !important;
    color: black !important;
    background-color: transparent !important;
}

.text-div {
    margin: 0px 0px 0px 355px;
    border-radius: 0px 10px 10px 0px;
    padding-top: 100px;
    background-color: rgba(255, 255, 255, 0.5) !important;
    position: absolute;
    width: 335px;
    height: 402px;
}

a {
    font-family: 'Lobster', cursive !important;
}

p {
    font-family: 'Lobster', cursive !important;
    font-size: 20px !important;
}

span {
    font-size: 10px;
}

.main-col > p {
    margin-bottom: 0 !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lobster', cursive !important;
}

form {
    margin-bottom: 7px;
}

input {
    font-family: 'Lobster', cursive !important;
}

form > p > input, textarea {
    resize: none !important;
    width: 80%;
    font-family: 'Lobster', cursive !important;
    font-size: 16px !important;
    line-height: inherit !important;
}

.iframe {
    overflow:hidden;
    position:relative;
}

iframe {
    min-height: 365px !important;
    display: flex !important;
}

.panel {
    background-color: transparent !important;
}

.panel-title > a {
    font-size: 24px;
}

.panel-title > a:hover {
    text-decoration: none !important;
    color: gray !important;
}

.panel-title > a:focus {
    text-decoration: none !important;
}

.panel-group {
    border-bottom: 1px solid black !important;
    margin-bottom: 0 !important;
}

.panel-body {
    padding: 5px 0 5px 0 !important;
    border-top: 1px solid #B3B3B3 !important;
    border-bottom: 1px solid #B3B3B3 !important;
}

.panel-name {
    margin: inherit !important;
    border-right: 1px solid #B3B3B3 !important;
    display: inline-block !important;
    width: 79% !important;
    height: 100% !important;
}

.panel-price {
    margin: inherit !important;
    float: right !important;
    display: inline-block !important;
    width: 19% !important;
    height: 100% !important;
}

.price-old {
    display: inline-block;
    text-decoration: line-through;
}

.price-new {
    display: inline-block;
}

.price-normal {
    display: inline-block;
}

.panel-name > a {
    color: black !important;
}

.panel-price > .price-normal > a {
    color: black !important;
}

.panel-price > .price-normal > a:hover {
    text-decoration: none !important;
}

.panel-price > .price-old > a {
    color: black !important;
}

.panel-price > .price-old > a:hover {
    text-decoration: none !important;
}

.panel-price > .price-new > a {
    color: red !important;
}

.panel-price > .price-new > a:hover {
    text-decoration: none !important;
}

.price {
    text-align: end !important;
}

.panel-name > p {
    margin: 0 0 0 0 !important;
}

.panel-name > a:focus {
    color: grey !important;
    text-decoration: none !important;
}

.panel-group-last {
    border-bottom: none !important;
}

.panel-body-last {
    border-bottom: none !important;
}

.collapsed {
    color: black !important;
    text-decoration: none !important;
}

.collapsed:hover {
    color: gray !important;
}


@keyframes slidy {
    0% { left: 0%; }
    14% { left: 0%; }
    19% { left: -100%; }
    39% { left: -100%; }
    44% { left: -200%; }
    63% { left: -200%; }
    68% { left: -300%; }
    87% { left: -300%; }
    92% { left: -400%; }
    100% { left: -400%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
    position: relative;
    width: 500%;
    animation: 30s slidy infinite;
}

@media screen and (max-width: 767px) {
    .separator {
        display: none !important;
    }

    .text-div {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(255, 255, 255, 0.0) !important;
    }

    .marketing {
        display: block !important;
    }

    .news {
        flex: none !important;
    }

    .panel-name {
        width: 64% !important;
    }

    .panel-price {
        width: 34% !important;
    }
}


@media screen and (max-width: 400px) {

    #logo {
        width: 100% !important;
    }
}